@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  width: 707px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  div {
    display: flex;
    justify-content: center;
    height: $block-size;
    width: $block-size;
    margin-right: 1px;
    margin-bottom: 1px;
    line-height: $block-size;

    background-color: $main-background-color;
    border: $block-border;

    &:hover {
      position: relative;

      transform: translate(0, -20px);
      transition: all 0.5s 0.2s;
      background-color: $hover-background-color;
      cursor: pointer;
    }
  }

  &-30 {
    div:nth-last-child(-n+1) {
      display: none;
    }
  }

  &-29 {
    div:nth-last-child(-n+2) {
      display: none;
    }
  }

  &-28 {
    div:nth-last-child(-n+3) {
      display: none;
    }
  }
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i}) {
    &::after {
      content: "#{$i}";
    }
  }
}

$week: (
  "sun": ($block-size + 1) * 6,
  "sat": ($block-size + 1) * 5,
  "fri": ($block-size + 1) * 4,
  "thu": ($block-size + 1) * 3,
  "wed": ($block-size + 1) * 2,
  "tue": ($block-size + 1),
  "mon": 0
);

@each $days, $block-size in $week {
  .calendar-#{$days} div:first-child {
    margin-left: $block-size;
  }
}
